/*Base Mobile - 360px*/

#container{
    position: fixed;
    background-color: #fff;
    top: 32%;
    left: 5%;
    width: 90vw;
    height: 55vh;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    outline: 2px solid rgb(212, 209, 211);
    outline-offset: 5px;
}

#container h2 {
    position: absolute;
    text-align: center;
    font-size: 17px;
    top: 9%;
    color: #0a8b77;
    font-family: Poppins;
    left: 25%;
}


#input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    transform: translateX(50px);
}

#input-container span{
    position: relative;
    font-size: 11px;
    top:-20px;
    transform: translateX(-50px);
    width: 400px;
    text-align: center;
    color: #a3a2a2;
}

input {
    position: relative;
    margin: 1px;
    padding: 9px;
    width: 75%;
    border-style: none;
    background: transparent;
    font-family: Poppins;
    font-weight: 500;
    background-color: #f7f2f2;
    border-radius: 9px;
    top:-8px;
    left: 1px;
    font-size: 12px;
    text-align: center;
    
}


#mais {
    background-color: transparent !important;
    border-style: none;
    position: absolute;
    left: 130px;
    top: 160px;
}

#mais img {
    width: 30px;
    vertical-align: middle;
}

.ver-lista-btn{
    position: absolute;
    border-style: none;
    font-size: 10px;
    background-color: transparent;
    top:100%;
    left: 25%;
}
.curso-item {
    padding: 10px;
    background-color: #f4f4f4;
    margin: 6px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .curso-item:hover {
    background-color: #e0e0e0;
  }
  
  .tachado {
    text-decoration: line-through;
    color: #999;
  }
  
























/*
#container{
    background-color: #fff;
    width: 80%;
    height: 50vh;

    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

#input-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    transform: translateX(-70px);
}

input{
    border-radius: 10px;
    border-style: none;
    background-color: rgb(233, 235, 235);
    
}


#mais {
    background-color: transparent !important;
    position: absolute;
    left: 160px;
    top: 110px;
    border-style: none;

}

#mais img {
    width: 25px;
    vertical-align: middle;
}*/