/* base: 360px */


#saudacao{
    position: fixed;
    top: 0; 
    left:0;
    padding: 38px; /*Alinha item de forma diagonal*/
    color: #f3e2e9;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-top: 100px; /*Adiciona espaço acima do item */
    text-shadow:
    0 1px 4px rgba(0, 0, 0, 0.4),
    0 2px 8px rgba(0, 0, 0, 0.3),
    0 4px 12px rgba(0, 0, 0, 0.5);
  
  }

  